<div class="container">

  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <label for="selectWeek" class="badge badge-info badge-pill">&nbsp;&nbsp;Selected Week - {{ selectedWeek }}&nbsp;&nbsp;</label>
        <select class="form-control" id="selectWeek" (change)="onWeekChange()"
        [(ngModel)]="selectedWeek" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let week of weeks" [ngValue]="week.value">{{ week.display }}</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="selectMode" class="badge badge-info badge-pill">&nbsp;&nbsp;Selected Mode - {{ selectedMode }}&nbsp;&nbsp;</label>
        <select class="form-control" id="selectMode" (change)="onModeChange()"
        [(ngModel)]="selectedMode" [ngModelOptions]="{standalone: true}">
          <option *ngFor="let mode of modes" [ngValue]="mode.value">{{ mode.value }}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3" *ngIf="selectedMode=='ONLINE'">
    <span class="font-italic text-info"><fa-icon [icon]="faHandPointRight"></fa-icon>	 For {{ this.selectedMode }} Mode - Please give access to students in <a routerLink="/">Student Access</a> tab and UPDATE to list them here for ONLINE events. <span class="text-danger">Pick ONLY ONE event per student</span>.</span>
  </div>
  <div class="col-12 mb-3" *ngIf="selectedMode=='CONFERENCE CALL'">
    <span class="font-italic text-info"><fa-icon [icon]="faHandPointRight"></fa-icon>	 For {{ this.selectedMode }} Mode - Please ensure that for students who have access to internet, you can register for 1 CONFERENCE CALL event and for students who don't have access to internet, you can register for 2 CONFERENCE CALL events</span>
  </div>
  <div class="col-12 mb-3" *ngIf="selectedMode=='OFFLINE'">
    <span class="font-italic text-info"><fa-icon [icon]="faHandPointRight"></fa-icon>	 For {{ this.selectedMode }} Mode - All students can participate in a maximum of 2 OFFLINE events.</span>
  </div>
  <form (submit)="onStuEventFormSubmit()">
    <ng-scrollbar class="custom-scrollbar">
      <div class="table-scroll">
        <table class="table tableFixHead">
          <thead>
            <tr class="text-uppercase table-dark">
              <th  scope="col">Student Name</th>
              <th class="text-center" scope="col" *ngFor="let event of filteredEvents">{{ event.event_name }}</th>
            </tr>
          </thead>
          <tbody class="data-body-grid">
            <tr  class="table-info" *ngFor="let student of filteredStudents">
              <th scope="row" class="text-uppercase">{{ student.student_name }}</th>
              <td class="text-center" *ngFor="let event of filteredEvents">
                  <input class="form-check-input text-center td-checkbox" [checked]="mapCheckboxCheckedProperty(student.student_id, event.event_id)" type="checkbox" (change)="onMapCheckboxChange(student.student_id, event.event_id, $event)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-scrollbar>
    <div class="form-group form-check mt-4">
      <fa-icon [icon]="faHandPointRight"></fa-icon>
      <input type="checkbox" class="form-check-input td-checkbox" [checked]="updateConfirmCheckFlag" (change)="onConfirmCheckboxChange()" id="updateConfirmCheck">
      <label class="form-check-label text-info" for="updateConfirmCheck">
        I understand that I am registering my students for
        <span class="badge badge-info badge-pill">&nbsp;&nbsp;{{ selectedMode }} events on {{ selectedWeek }}&nbsp;&nbsp;</span>.
      </label>
    </div>
    <span >
      <button tooltip="Confirm the above checkbox to Enable Button" placement="right" triggers="pointerenter:pointerout" type="submit" class="btn btn-success ml-5" [disabled]="!updateConfirmCheckFlag || loading" >
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <fa-icon [icon]="faCloudUploadAlt"></fa-icon>&nbsp;&nbsp;Update Student Events
      </button>
    </span>

  </form>

</div>
