.td-checkbox{
  margin-left: 3rem;
}
.form-check-label {
  padding-left: 1rem;
}
.badge.badge-info{
  font-size: medium;
}

/* Custom scrollbar styles */

/* Handle */
::-webkit-scrollbar-thumb {
  background:#17a2b8;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:#096b7a;
}

/* .tbody-div{
  overflow-y: auto;
  max-height: 200px;
} */
/* tbody.table-striped>tr:nth-child(odd) {
  background-color: #404040;
} */

/* .data-body-grid>tr.table-info:hover>td, {
  background-color: #7e6e39;
} */
