<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header bg-primary text-light">Change Password</h4>
    <div class="card-body">
        <form [formGroup]="changePswdForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="password1">New Password</label>
                <input type="text" formControlName="password1" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password1.errors }" />
                <div *ngIf="submitted && f.password1.errors" class="invalid-feedback">
                    <div *ngIf="f.password1.errors.required">Password is required</div>
                    <div *ngIf="f.password1.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password2">Confirm New Password</label>
                <input type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
                <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
                    <div *ngIf="f.password2.errors.required">Password is required</div>
                    <div *ngIf="f.password2.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-warning text-dark">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Change Password
                </button>
            </div>
        </form>
    </div>
  </div>
</div>
