.td-checkbox{
  margin-left: 2rem;
}
.form-check-label {
  padding-left: 1rem;
}
.badge.badge-info{
  font-size: medium;
}
.custom-scrollbar {
  --scrollbar-color: rgb(255, 1, 1);
  --scrollbar-container-color: rgb(66, 51, 207);
  --scrollbar-thumb-color: rgba(29, 9, 9, 0.815);
  --scrollbar-thumb-hover-color: rgb(0, 0, 0);
  --scrollbar-border-radius: 10px;
  --scrollbar-size: 10px;
  --scrollbar-padding: 8px;
  --scroll-view-margin: 0;
  --scroll-view-color: rgb(255, 1, 1);
}
